/* Style Reset */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    
}
/* Setting Color Palette for easy access in this style sheet */
:root {
    --platinum: rgb(228, 222, 220);
    --pink: rgb(221, 190, 187);
    --cyan: rgb(91, 192, 235);
    --onyx: rgb(49, 54, 56);
    --yellow: rgb(253, 231, 76);
  }

/* Fonts and Text Sizing */

h1 {
    font-size: 1.5em;
    font-family: 'Permanent Marker', cursive;
    color: var(--onyx);
}

h2 {
    font-size: 1.6em;
    font-family: 'Permanent Marker', cursive;
    color: var(--onyx);
}

h3 {
    font-size: 1.3em;
    font-family: 'Permanent Marker', cursive;
    color: var(--onyx);
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
    color: rgba(49, 54, 56, 0.8);
}

h6 {
    font-size: 0.9em;
    color: rgba(49, 54, 56, 0.5);
    padding: 0.3em 1em;
}

/* Header Syles */

/* Setting dimensions, background color and positioning of nav bar, screen < 520px*/
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--onyx);
    position: fixed;
    width: 100%;
    top: 0%;
    border-bottom: 0.1em solid rgba(128, 128, 128, 0.5);

}

/* Centering elements of the nav box */
.topnav nav {
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.topnav a {
    font-family: 'Permanent Marker', cursive;
    color: #f2f2f2;
    text-align: center;
    padding: 1.1em 0.5em;
    text-decoration: none;
    font-size: 0.9em;
}

.topnav a:hover {
    background-color: var(--yellow);
    color: var(--onyx);
}

.topnav h2 {
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.5em;
}

/* Top clearance from nav bar size, Ajusted for screen size < 520px */
main {
    margin-top: 7em;
}

section {
    padding: 1em 0;
}

/* Setting content width, Ajusted for screen size < 520px */
section , form {
    width: 90%;
    margin: 0 auto;
}

/* Setting Flex to sections with two columns */
section  , .blog_posts , .contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* Margin for contents of .intro and all .item's */
.intro .box2 .container , .item {
    margin: 1em auto 0.5em;
}

/* Main Division Boxes width, screen size < 520px */
main .box1 , main .box2 {
    width: 100%;
}

/* Landing Page Styles */

/* Sizing, setting flex to elements in main, adding background color */
main.landing {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--onyx);
}

/* Setting flex to the center box */
.landing .center_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Setting background image to the center box */
.landing .bg_image {
    width: 100%;
    background-image: url("img/background.jpg");
}

/* Setting semitransparent color on top of image in the centerbox */
.landing .bg_container {
    width: 100%;
    background-color: rgba(91, 192, 235, 0.98);
}

.landing h1 {
    color: var(--onyx);
    font-size: 2.5em;
    margin: 0.5em;
}

.landing img {
    width: 15em;
    height: 15em;
    border: 0.1em solid rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    text-align: center;
}

/* Setting to flex and positioning the landing page nav bar */
.landing nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing nav a {
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
    color: var(--onyx);
    text-align: center;
    padding: 1em;
    text-decoration: none;

}

.landing nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Intro Headshot box */

/* Setting up image and adding adding a border */
.intro img {
    width: 12em;
    height: 12em;
    left: 50%;
    border: 0.1em solid rgba(128, 128, 128, 0.1);
    border-radius: 50%;
    margin-top: 1em;
}

.intro .box1 {
    text-align: center;
}

/* Setting Flex to Interests and Education Section */
.container.extra {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Interests Section */

/* Interests and Education box width, minimum sized screen  */
.interests , .education {
    width: 100%;
    margin-top: 1em;
}

/* Changing list bullet */
.interests ul {
    list-style-type: circle;
    margin-top: 1em;
}

.interests li {
    padding-bottom: 0.2em;
}

/* Education Section */

/* Setting background color and border to the items in .education */
.education .item {
    background-color: rgb(243, 243, 243);
    border: 0.05em solid rgba(128, 128, 128, 0.1);
    border-radius: 0.3em;
    padding: 0.5em 1em;
}

.education p{
    margin-top: 0.3em;
}
 
/* Skills Section */

/* Setting flex to column in skills section */
.skills {
    flex-direction: column;
}

/* Background color in skills section */
.background.skills {
    background-color: var(--onyx);
}

.skills h2 {
    text-align: center;
    color: white;
}

/* Setting flex and positioning of icons */
.tech_icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

/* Setting up the skill icons */
.skills img {
    width: auto;
    height: 7em;
    background-color: var(--onyx);
    padding: 0.5em;
    border-radius: 15%;
    margin: 1em;
}

/* Putting the captions under the icons */
.tech_icons .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills figcaption {
    color: white;
}

/* Experience Section */

.experience {
    padding: 0.5em 0 0.7em;
}

/* Setting background color and border to items */
.experience .item {
    background-color: rgb(243, 243, 243);
    border: 0.05em solid rgba(128, 128, 128, 0.2);
    border-radius: 0.3em;
    padding: 0.5em 1em;
}

/* Setting background color to the section */
.background.experience {
    background-color: var(--cyan);
}

/* Blog Section */

/* Setting flex to column; pulling items to the top */
section.blog_posts {
    flex-direction: column;
    justify-content: flex-start;
}

.blog_posts h1 {
    color: black;
    text-align: center;
}

.posts h5 {
    margin: 1em 0;
}

/* setting flex to the items and adjusting how they wrap */
.blog_posts .item {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

/* Setting the Headline box to grow */
.blog_posts .item .container {
    min-height: 7em;
    flex-grow: 1;
    padding: 0.5em 1em 0.5em 0;
}

/* Setting background color */
.background.blog_posts {
    width: 100%;
    height: 100%;
    background-color: var(--platinum);
}

.blog_posts .item .container a {
    text-decoration: none;
}

.blog_posts .item .container a:visited {
    text-decoration: none;
    color: black;
}

.posts {
    padding-top: 1em;
}

/* Setting up blog post Headline images */
.blog_posts img {
    width: 9em;
    height: 9em;
    border: 0.05em solid rgba(128, 128, 128, 0.3);
    border-radius: 0.2em;
    margin-left: 0.2em;
    /* Image wasn't centering because of inline spacing */
    display: block;
}

/* Blog Post Page */

main.blog {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Setting flex to column, adding spacing */
.blog section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.blog h1 , .blog h3 , .blog time {
    text-align: center;
}

/* Setting flex to author box */
.author_details {
    display: flex;
    align-self: flex-start;
    margin: 2em 0;
}

/* Setting up img from author box */
.author_details img {
    width: 6em;
    height: 6em;
    border: 0em solid;
    border-radius: 50%;
}

.author_details h3 , .author_details h6 {
    margin: 0.5em 1em;
}

/* Setting up main post image */
img.main_post {
    width: 20em;
    height: 20em;
    margin: 1em;
}

.blog p {
    margin: 1em auto;
}

/* Contact Me Page */


/* Setting background colors; Setting the message form section to grow and occupy remaining space in the page */
.background.my_links {
    flex: 0 1 auto;
    background-color: var(--platinum);
}
.background.message_form {
    background-color: var(--cyan);
    flex: 1 1 auto;
}

.icon_links {
    flex-direction: column;
}

.contact_page h1 {
    text-align: center;
}

/* Setting spacing for the Icon Links */
.contact_links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

/* Setting icon boxes to flex column */
.contact_links .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Setting Icon images, border and background */
.contact_page img {
    width: auto;
    height: 10em;
    background-color: var(--onyx);
    border: 0.05em solid gray;
    padding: 0.5em;
    border-radius: 15%;
    margin: 1em;
}

/* Setting inputs size, border and background */
.contact input {
    width: 100%;
    height: 1.5em;
    border: 0.05em solid rgba(128, 128, 128, 0.4);
    background-color: whitesmoke;
    border-radius: 0.3em;
    margin: 0.5em 0;
}

/* Setting text area size, border and background */
.contact textarea {
    height: 10.5em;
    width: 100%;
    border: 0.05em solid rgba(128, 128, 128, 0.4);
    background-color: whitesmoke;
    border-radius: 0.3em;
    margin: 0.5em 0; 
}

/* Setting submit button width */
.contact input.send {
    width: 4em;
}

.my_links .icon_links , form.contact {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Footer Section */

/* Setting spacing of icon links, adjusted for screen size < 520px */
footer .box1 {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    margin: 0 auto;
    width: 90%;
}

/* Icon Sizing */
footer .icon img {
    width: 3.5em;
    height: 3.5em;
}

/* Background color and border for CV icon */
.cv img {
    background-color: white;
    border: 0 solid;
    border-radius: 0.5em;
}

footer p {
    color: white;
    text-align: center;
    padding: 1em;
}

footer {
    background-color: var(--onyx);
}

/* Setting Footer to stay at the bottom of the page */

html, body{
    height:100%;
}

/* Flex body elements to use Flex grow/shrink */
body {
    display: flex;
    flex-direction: column;
}

/* Main set to grow, occupying remaining space in the page */
main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* @media screen size responsiveness */

/* Screen width > 350px */
@media only screen and (min-width: 350px) {
    .landing img {
        width: 20em;
        height: 20em;
    }
}

/* Screen width > 520px */
@media only screen and (min-width: 520px) {
    
    /* Top clearance from Nav bar */
    main {
        margin-top: 3.6em;
    }

    /* Spacing Nav bar components apart */
    .topnav {
        justify-content: space-between;
    }

    .landing nav a {
        font-size: 1.5em;
    }

    footer .icon img {
        width: 4em;
        height: 4em;
    }

    footer .box1 {
        width: 80%;
        justify-content: space-around;
    }

    .blog_posts section , .blog section {
        width: 80%;
    }
}

/* Screen width > 700px */
@media only screen and (min-width: 700px)  {
    
    section , form {
        width: 90%;
    }
    
    main .box1 {
        width: 30%;
    }
    
    main .box2 {
        width: 65%;
    }

    .interests {
        width: 30%;
    }
    
    .education {
        width: 70%;
    }

    .topnav a {
        font-size: 1em;
    }
    
    .topnav h2 {
        font-size: 1.5em;  
    }
    
    .tech_icons {
        width: 85%;
    }

    .blog_posts section , .blog section {
        width: 70%;
    }

    .blog_posts .item {
        flex-wrap: nowrap;
    }
}

/* Screen width > 1300px */
@media only screen and (min-width: 1300px)  {
    
    section , form {
        width: 80%;
    }
    
    main .box1 {
        width: 30%;
    }
    
    main .box2 {
        width: 70%;
    }

    h1 {
        font-size: 2em;
    }

    .blog_posts section , .blog section {
        width: 50em;
    }

}